ENVIRONMENT

In [9]:
pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: pymysql in c:\users\user\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from sqlalchemy import create_engine, text

engine = create_engine(
    "mysql+pymysql://root:kaciedo105@localhost:3306/sportsdb"
)

# test connection
with engine.connect() as conn:
    result = conn.execute(text("SELECT 122"))
    print(result.fetchone())

(122,)

CREATE ENTITIES

In [76]:
from sqlalchemy import text
tables_sql = """
CREATE TABLE IF NOT EXISTS Sport (
    SportID SERIAL PRIMARY KEY,
    SportName VARCHAR(50) NOT NULL
);

CREATE TABLE IF NOT EXISTS Tournament (
    TournamentID SERIAL PRIMARY KEY,
    SportID INT REFERENCES Sport(SportID),
    Name VARCHAR(100) NOT NULL,
    StartDate DATE NOT NULL,
    EndDate DATE NOT NULL,
    MaxTeams INT NOT NULL
);

CREATE TABLE IF NOT EXISTS Team (
    TeamID SERIAL PRIMARY KEY,
    TeamName VARCHAR(100),
    Department VARCHAR(50),
    Coach VARCHAR(100)
);

CREATE TABLE IF NOT EXISTS Player (
    PlayerID SERIAL PRIMARY KEY,
    TeamID INT REFERENCES Team(TeamID),
    PlayerName VARCHAR(100),
    Department VARCHAR(50),
    YearLevel VARCHAR(10)
);

CREATE TABLE IF NOT EXISTS Venue (
    VenueID SERIAL PRIMARY KEY,
    VenueName VARCHAR(100),
    Location VARCHAR(100)
);

CREATE TABLE IF NOT EXISTS Referee (
    RefereeID SERIAL PRIMARY KEY,
    RefereeName VARCHAR(100),
    Qualification VARCHAR(100)
);

CREATE TABLE IF NOT EXISTS `Match` (
    MatchID SERIAL PRIMARY KEY,
    TournamentID INT REFERENCES Tournament(TournamentID),
    Team1ID INT REFERENCES Team(TeamID),
    Team2ID INT REFERENCES Team(TeamID),
    VenueID INT REFERENCES Venue(VenueID),
    RefereeID INT REFERENCES Referee(RefereeID),
    MatchDate TIMESTAMP,
    Team1Score INT,
    Team2Score INT,
    WinnerTeamID INT REFERENCES Team(TeamID)
);

# CREATE TABLE IF NOT EXISTS TeamTournament (
#     TournamentID INT REFERENCES Tournament(TournamentID),
#     TeamID INT REFERENCES Team(TeamID),
#     PRIMARY KEY (TournamentID, TeamID)
# );
"""
with engine.begin() as conn:
    for statement in tables_sql.strip().split(';'):
        stmt = statement.strip()
        if stmt:             
            conn.execute(text(stmt))
print("All tables created!")

All tables created!

In [78]:
def import_data():

    print("Importing data...")

    # SPORT
    insert_sport ="""
        INSERT INTO Sport (SportName) VALUES
        ('Basketball'), ('Volleyball'), ('Soccer'),
        ('Badminton'), ('Table Tennis'), ('Tennis');
    """
    # VENUE
    insert_venue ="""
        INSERT INTO Venue (VenueName, Location) VALUES
        ('Main Gym A','Campus North'),
        ('Main Gym B','Campus North'),
        ('Outdoor Field 1','East Campus'),
        ('Outdoor Field 2','East Campus'),
        ('Court 1','Sports Complex'),
        ('Court 2','Sports Complex'),
        ('Poolside Arena','Aquatic Center'),
        ('Indoor Hall 1','Campus South'),
        ('Indoor Hall 2','Campus South'),
        ('Tennis Court 1','Sports Complex'),
        ('Tennis Court 2','Sports Complex'),
        ('Table Tennis Room','Recreation Center'),
        ('Badminton Court 1','Rec Center'),
        ('Badminton Court 2','Rec Center'),
        ('Soccer Pitch A','West Campus'),
        ('Soccer Pitch B','West Campus'),
        ('Volleyball Arena','Sports Complex'),
        ('Practice Field 1','Training Grounds'),
        ('Practice Field 2','Training Grounds'),
        ('Gym Annex','East Annex'),
        ('Multi-Purpose Hall','Central Campus'),
        ('Lecture Hall B','Central Campus'),
        ('Alumni Court','Alumni Center'),
        ('Referee Office','Admin Building'),
        ('Outdoor Arena','Parkside');
    """

    # REFEREE
    insert_referee ="""
        INSERT INTO Referee (RefereeName, Qualification) VALUES
        ('Alex Morgan','Level 2'),
        ('Brian Chan','Level 1'),
        ('Carla Reyes','Level 3'),
        ('Diego Alvarez','Level 1'),
        ('Emily Park','Level 2'),
        ('Farah Khan','Level 2'),
        ('George Li','Level 1'),
        ('Hannah Smith','Level 3');
    """

    # TEAM
    insert_team = """
        INSERT INTO Team (TeamName, Department, Coach) VALUES
        ('Falcons','Engineering','Coach A'),
        ('Tigers','Business','Coach B'),
        ('Eagles','Arts','Coach C'),
        ('Wolves','Science','Coach D'),
        ('Panthers','Law','Coach E'),
        ('Sharks','Medicine','Coach F'),
        ('Rangers','Engineering','Coach G'),
        ('Knights','Business','Coach H'),
        ('Lions','Arts','Coach I'),
        ('Hawks','Science','Coach J'),
        ('Bulls','Law','Coach K'),
        ('Wizards','Medicine','Coach L'),
        ('Spartans','Engineering','Coach M'),
        ('Dragons','Business','Coach N'),
        ('Pirates','Arts','Coach O'),
        ('Vikings','Science','Coach P'),
        ('Titans','Law','Coach Q'),
        ('Giants','Medicine','Coach R'),
        ('Comets','Engineering','Coach S'),
        ('Stallions','Business','Coach T'),
        ('Warriors','Arts','Coach U'),
        ('Knights 2','Science','Coach V'),
        ('Coyotes','Law','Coach W'),
        ('Rockets','Medicine','Coach X'),
        ('Cyclones','Engineering','Coach Y');
    """

    # PLAYER
    insert_player = """
        INSERT INTO Player (TeamID, PlayerName, Department, YearLevel) VALUES
        (1,'Alice Johnson','Engineering','3'),
        (2,'Ben Turner','Business','2'),
        (3,'Clara Gomez','Arts','4'),
        (4,'David Kim','Science','1'),
        (5,'Eva Long','Law','3'),
        (6,'Frank Wu','Medicine','2'),
        (7,'Grace Lee','Engineering','4'),
        (8,'Harry Potter','Business','1'),
        (9,'Ivy Chen','Arts','2'),
        (10,'Jack Ma','Science','3'),
        (11,'Kara Z','Law','4'),
        (12,'Leo N','Medicine','2'),
        (13,'Maya P','Engineering','1'),
        (14,'Nolan Q','Business','3'),
        (15,'Olivia R','Arts','2'),
        (16,'Peter S','Science','4'),
        (17,'Quinn T','Law','1'),
        (18,'Rita U','Medicine','3'),
        (19,'Sam V','Engineering','2'),
        (20,'Tina W','Business','4'),
        (21,'Uma X','Arts','1'),
        (22,'Victor Y','Science','2'),
        (23,'Wendy Z','Law','3'),
        (24,'Xavier A','Medicine','1'),
        (25,'Yara B','Engineering','3');
    """

    # TOURNAMENT
    insert_tournament = """
        INSERT INTO Tournament (SportID, Name, StartDate, EndDate, MaxTeams) VALUES
        (1,'Autumn Basketball Cup 2025','2025-09-01','2025-09-10',16),
        (2,'Inter-College Volleyball 2025','2025-09-15','2025-09-22',12),
        (3,'Soccer League Fall 2025','2025-10-01','2025-10-21',20),
        (4,'Badminton Open 2025','2025-10-05','2025-10-07',32),
        (5,'Table Tennis Classic 2025','2025-11-01','2025-11-03',24),
        (6,'Tennis Invitational 2025','2025-11-10','2025-11-15',8),
        (1,'Winter Basketball Cup 2025','2025-12-01','2025-12-10',16),
        (2,'Campus Volleyball Series 2025','2025-12-12','2025-12-18',12),
        (3,'Spring Soccer Cup 2026','2026-03-03','2026-03-20',20),
        (4,'Spring Badminton 2026','2026-03-05','2026-03-07',32),
        (5,'Midyear Table Tennis 2026','2026-06-01','2026-06-03',24),
        (6,'Summer Tennis 2026','2026-06-10','2026-06-15',8),
        (1,'Novice Basketball Tournament','2025-07-05','2025-07-07',16),
        (2,'Alumni Volleyball Cup','2025-08-01','2025-08-03',8),
        (3,'Inter-department Soccer Cup','2025-08-10','2025-08-20',18),
        (4,'City Badminton Challenge','2025-09-01','2025-09-03',32),
        (5,'Faculty Table Tennis','2025-09-10','2025-09-12',12),
        (6,'City Tennis Amateur','2025-10-01','2025-10-04',16),
        (1,'Champions Basketball 2026','2026-01-10','2026-01-20',20),
        (2,'Regional Volleyball 2026','2026-02-01','2026-02-08',14),
        (3,'Citywide Soccer 2026','2026-03-15','2026-03-30',24),
        (4,'University Badminton League','2026-04-01','2026-04-10',40),
        (5,'National Table Tennis Qualifier','2026-05-01','2026-05-07',48),
        (6,'Inter-University Tennis','2026-05-10','2026-05-20',16),
        (5,'Table Tennis Autumn 2025','2025-10-15','2025-10-18',20);
    """

    # TEAM–TOURNAMENT
    insert_team_tour = """
        INSERT INTO TeamTournament (TeamID, TournamentID) VALUES
        (1,1),(2,2),(3,3),(4,4),(5,5),
        (6,6),(7,7),(8,8),(9,9),(10,10),
        (11,11),(12,12),(13,13),(14,14),(15,15),
        (16,16),(17,17),(18,18),(19,19),(20,20),
        (21,21),(22,22),(23,23),(24,24),(25,25);
    """

    # MATCHES
    insert_match = """
        INSERT INTO `Match` (TournamentID, Team1ID, Team2ID, VenueID, RefereeID, MatchDate, Team1Score, Team2Score, WinnerTeamID) VALUES
        (1,1,2,1,1,'2025-09-02 10:00',78,65,1),
        (2,2,3,2,2,'2025-09-16 14:00',3,1,2),
        (3,3,4,3,3,'2025-10-02 16:00',2,2,NULL),
        (4,4,5,4,4,'2025-10-06 09:00',21,14,4),
        (5,5,6,5,5,'2025-11-02 11:00',11,7,5);
    """
    with engine.begin() as conn:
        conn.execute(text(insert_venue))
        conn.execute(text(insert_referee))
        conn.execute(text(insert_team))
        conn.execute(text(insert_player))
        conn.execute(text(insert_tournament))
        conn.execute(text(insert_team_tour))
        conn.execute(text(insert_match))

    print("✔ Data import finished!")

# Run it
import_data()

Importing data...
✔ Data import finished!

ORGANIZER

In [21]:
# Create tournament
def create_tournament():
    print("Create New Tournament")
    sport_id = int(input("Sport ID: "))
    name = input("Name: ")
    start_date = input("Start Date (YYYY-MM-DD): ")
    end_date = input("End Date (YYYY-MM-DD): ")
    max_teams = int(input("Max Teams: "))
    query = """
    INSERT INTO Tournament (SportID, Name, StartDate, EndDate, MaxTeams)
    VALUES (:sport_id, :name, :start_date, :end_date, :max_teams)
    """
    with engine.begin() as conn:
        conn.execute(
            text(query),
            {
                "sport_id": sport_id, "name": name, "start_date": start_date, "end_date": end_date, "max_teams": max_teams
            }
        )
    print("TOURNAMENT CREATED!")


# Edit tournament
def edit_tournament():
    print("Edit Tournament")
    tid = int(input("TournamentID: "))
    new_name = input("New Name: ")
    new_start_date = input("New Start Date (YYYY-MM-DD): ")
    new_end_date = input("New End Date (YYYY-MM-DD): ")
    new_max_teams = input("New Max Teams: ")

    updates = {}
    if new_name:
        updates["Name"] = new_name
    if new_start_date:
        updates["StartDate"] = new_start_date
    if new_end_date:
        updates["EndDate"] = new_end_date
    if new_max_teams:
        updates["MaxTeams"] = int(new_max_teams)

    if not updates:
        print("No attributes to update.")
        return

    set_clause = ", ".join(f"{k} = :{k}" for k in updates)
    updates["TournamentID"] = tid

    query = f"""
    UPDATE Tournament  SET {set_clause}  WHERE TournamentID = :TournamentID
    """

    with engine.begin() as conn:
        conn.execute(text(query), updates)

    print("TOURNAMENT UPDATED!")


#Remove tournament
def remove_tournament():
    print("Remove Tournament")
    tournament_id = int(input("Tournament ID: "))
    with engine.begin() as conn:
        conn.execute(
            text("DELETE FROM `Match` WHERE TournamentID = :tid"),
            {"tid": tournament_id}
        )
        conn.execute(
            text("DELETE FROM TeamTournament WHERE TournamentID = :tid"),
            {"tid": tournament_id}
        )
        conn.execute(
            text("DELETE FROM Tournament WHERE TournamentID = :tid"),
            {"tid": tournament_id}
        )

    print("TOURNAMENT DELETED!")


#List tournaments

def list_tournaments():
    query = "SELECT * FROM Tournament"
    with engine.begin() as conn:
        result = conn.execute(text(query))
        rows = result.fetchall()

    for r in rows:
        print(r)

#Schedule match
from sqlalchemy import text

# ORGANIZER: MANAGE SCHEDULE, VENUE, DATE, REFEREE
def schedule_match():
    print("Schedule Match")
    tournament_id = int(input("Tournament ID: "))
    team1_id = int(input("Team 1 ID: "))
    team2_id = int(input("Team 2 ID: "))
    venue_id = int(input("Venue ID: "))
    referee_id = int(input("Referee ID: "))
    match_date = input("Match Date (YYYY-MM-DD): ")

    query = """
    INSERT INTO `Match` (TournamentID, Team1ID, Team2ID, VenueID, RefereeID, MatchDate)
    VALUES (:tournament_id, :team1_id, :team2_id, :venue_id, :referee_id, :match_date)
    """

    with engine.begin() as conn:
        conn.execute(
            text(query),
            {
                "tournament_id": tournament_id,
                "team1_id": team1_id,
                "team2_id": team2_id,
                "venue_id": venue_id,
                "referee_id": referee_id,
                "match_date": match_date,
            },
        )

    print("Match scheduled!")

def view_schedule_for_tournament():
    tid = int(input("Tournament ID: "))

    query = """
    SELECT
      m.MatchDate,
      t1.TeamName AS Team1,
      t2.TeamName AS Team2,
      v.VenueName,
      r.RefereeName,
      m.Team1Score,
      m.Team2Score,
      CASE
        WHEN m.Team1Score > m.Team2Score THEN t1.TeamName
        WHEN m.Team2Score > m.Team1Score THEN t2.TeamName
        ELSE 'Draw'
      END AS Winner
    FROM `Match` m
    JOIN Team t1 ON t1.TeamID = m.Team1ID
    JOIN Team t2 ON t2.TeamID = m.Team2ID
    JOIN Venue v ON v.VenueID = m.VenueID
    JOIN Referee r ON r.RefereeID = m.RefereeID
    WHERE m.TournamentID = :tid
    ORDER BY m.MatchDate;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query), {"tid": tid})
        rows = result.fetchall()

    for r in rows:
        print(r)


def update_match_results():
    match_id = int(input("Match ID: "))
    team1_score = int(input("Team 1 Score: "))
    team2_score = int(input("Team 2 Score: "))

    if team1_score > team2_score:
        winner_team_id = int(input("Winner Team ID: "))
    elif team2_score > team1_score:
        winner_team_id = int(input("Winner Team ID: "))
    else:
        winner_team_id = None  # draw

    query = """
    UPDATE `Match`
    SET Team1Score = :team1_score,
        Team2Score = :team2_score,
        WinnerTeamID = :winner_team_id
    WHERE MatchID = :match_id
    """

    with engine.begin() as conn:
        conn.execute(
            text(query),
            {
                "team1_score": team1_score,
                "team2_score": team2_score,
                "winner_team_id": winner_team_id,
                "match_id": match_id,
            },
        )

    print("Results updated!")

def department_participation():
    query = """
    SELECT t.Department, COUNT(*) AS Total_Teams
    FROM Team t
    GROUP BY t.Department
    ORDER BY Total_Teams DESC;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query))
        rows = result.fetchall()

    for r in rows:
        print(r)


def sport_participation():
    query = """
    SELECT s.SportName, COUNT(t.TournamentID) AS Total_Tournaments
    FROM Sport s
    LEFT JOIN Tournament t ON s.SportID = t.SportID
    GROUP BY s.SportName
    ORDER BY Total_Tournaments DESC;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query))
        rows = result.fetchall()

    for r in rows:
        print(r)

In [23]:
def organizer():
    while True:
        print("User Organizer, Please select 1 option: ")
        print("1. Create Tournament")
        print("2. Edit Tournament")
        print("3. Remove Tournament")
        print("4. List Tournaments")
        print("5. Schedule Match")
        print("6. View Match Schedule")
        print("7. Update Match Results")
        print("8. Department Participation Report")
        print("9. Sport Participation Report")
        print("0. Exit")
        print("===================================")

        choice = input("Your option: ")

        if choice == "1":
            create_tournament()
            break
        elif choice == "2":
            edit_tournament()
            break
        elif choice == "3":
            remove_tournament()
            break
        elif choice == "4":
            list_tournaments()
            break
        elif choice == "5":
            schedule_match()
            break
        elif choice == "6":
            view_schedule_for_tournament()
            break
        elif choice == "7":
            update_match_results()
            break
        elif choice == "8":
            department_participation()
            break
        elif choice == "9":
            sport_participation()
            break
        elif choice == "0":
            print("Exiting Organizer Menu...");
            break
        else:
            print("Again.")


organizer()

User Organizer, Please select 1 option:
1. Create Tournament
2. Edit Tournament
3. Remove Tournament
4. List Tournaments
5. Schedule Match
6. View Match Schedule
7. Update Match Results
8. Department Participation Report
9. Sport Participation Report
0. Exit
===================================

Your option:  9

('Table Tennis', 5)
('Basketball', 4)
('Volleyball', 4)
('Soccer', 4)
('Badminton', 4)
('Tennis', 4)

TEAM

In [25]:
def players_of_team():
    team_id = input("TEAM_ID: ")

   
    query = """
    SELECT p.PlayerName, p.Department, p.YearLevel
    FROM Player p
    JOIN Team t ON t.TeamID = p.TeamID
    WHERE t.TeamID = :team_id;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query), {"team_id": team_id})
        rows = result.fetchall()

    for r in rows:
        print(r)

def tournaments_of_team():
    team_id = input("TEAM_ID: ")
    query = """
    SELECT tr.Name, tr.StartDate, tr.EndDate
    FROM Tournament tr
    JOIN TeamTournament tt ON tt.TournamentID = tr.TournamentID
    WHERE tt.TeamID = :team_id;
    """
    with engine.begin() as conn:
        result = conn.execute(text(query), {"team_id": team_id})
        rows = result.fetchall()

    for r in rows:
        print(r)

def matches_of_team():

    team_id = input("TEAM_ID: ")
    query = """
    SELECT
        m.MatchDate,
        t2.TeamName AS Opponent,
        v.VenueName
    FROM `Match` m
    JOIN Team t1 ON t1.TeamID = m.Team1ID OR t1.TeamID = m.Team2ID
    JOIN Team t2
        ON t2.TeamID IN (m.Team1ID, m.Team2ID)
        AND t2.TeamID <> t1.TeamID
    JOIN Venue v ON v.VenueID = m.VenueID
    WHERE t1.TeamID = :team_id
    ORDER BY m.MatchDate;
    """
    with engine.begin() as conn:
        result = conn.execute(text(query), {"team_id": team_id})
        rows = result.fetchall()

    for r in rows:
        print(r)

#Teams and players can view their performance history by tournament
from sqlalchemy import text

# Teams and players can view their performance history by team
def performance_history():
    team_id = input("TEAM_ID: ")
    query = """
    SELECT
        t.TeamID,
        t.TeamName,
        SUM(
            CASE
                WHEN m.WinnerTeamID = t.TeamID THEN 1
                ELSE 0
            END
        ) AS Wins,
        SUM(
            CASE
                WHEN (m.Team1ID = t.TeamID OR m.Team2ID = t.TeamID)
                     AND m.WinnerTeamID <> t.TeamID
                     AND m.WinnerTeamID IS NOT NULL
                THEN 1
                ELSE 0
            END
        ) AS Losses
    FROM Team t
    LEFT JOIN `Match` m
        ON (m.Team1ID = t.TeamID OR m.Team2ID = t.TeamID)
    WHERE t.TeamID = :team_id
    GROUP BY t.TeamID, t.TeamName;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query), {"team_id": team_id})
        row = result.fetchone()

        print(f"Team: {row[1]}; Wins {row[2]} times; Losses {row[3]} times.")


def roster_count():
    team_id = input("TEAM_ID: ")
    
    query = """
    SELECT
        t.TeamName,
        COUNT(p.PlayerID) AS RosterSize
    FROM Team t
    LEFT JOIN Player p ON p.TeamID = t.TeamID
    WHERE t.TeamID = :team_id
    GROUP BY t.TeamName;
    """
    with engine.begin() as conn:
        result = conn.execute(text(query), {"team_id": team_id})
        row = result.fetchone()
        print(f"Team: {row[0]}, Players: {row[1]}")
    


#Teams can register for tournaments up to the registration deadline
from datetime import date, datetime

def register_team_for_tournament():
    team_id = input("TEAM_ID: ")
    tournament_id = input("TOURNAMENT_ID: ")
    select_sql = """
    SELECT t.StartDate,
           t.MaxTeams,
           (
             SELECT COUNT(*)
             FROM TeamTournament tt
             WHERE tt.TournamentID = t.TournamentID
           ) AS RegisteredTeams
    FROM Tournament t
    WHERE t.TournamentID = :tournament_id
    """
    with engine.begin() as conn:
        result = conn.execute(text(select_sql), {"tournament_id": tournament_id})
        row = result.fetchone()

        start_date, max_teams, registered = row
        if isinstance(start_date, datetime):
            start_date = start_date.date()
        if date.today() > start_date:
            print("Registration closed.")
            return
        if registered >= max_teams:
            print("Tournament is full.")
            return
        insert_sql = """
        INSERT INTO TeamTournament (TeamID, TournamentID)
        VALUES (:team_id, :tournament_id)
        """
        conn.execute(
            text(insert_sql),
            {"team_id": team_id, "tournament_id": tournament_id}
        )

    print("Team registered for tournament!")


def add_player_to_roster():
    team_id = input("TEAM_ID: ")
    tournament_id = input("TOURNAMENT_ID: ")
    select_sql = """
    SELECT t.StartDate
    FROM Tournament t
    JOIN TeamTournament tt ON t.TournamentID = tt.TournamentID
    WHERE tt.TeamID = :team_id AND tt.TournamentID = :tournament_id
    """
    with engine.begin() as conn:
        result = conn.execute(
            text(select_sql),
            {"team_id": team_id, "tournament_id": tournament_id},
        )
        row = result.fetchone()
        start_date = row[0]
        if isinstance(start_date, datetime):
            start_date = start_date.date()
        if date.today() >= start_date:
            print("tournament has started.")
            return

        player_name = input("PLAYER_NAME: ")
        dept = input("DEPARTMENT: ")
        year = input("YEAR: ") 

        insert_sql = """
        INSERT INTO Player (PlayerName, Department, YearLevel, TeamID)
        VALUES (:player_name, :dept, :year, :team_id)
        """

        conn.execute(
            text(insert_sql),
            {
                "player_name": player_name,
                "dept": dept,
                "year": year,
                "team_id": team_id,
            },
        )

    print("Player added!")
    
def remove_player_from_roster():
    team_id = input("TEAM_ID: ")
    player_id = input("PLAYER_ID: ")
    tournament_id = input("TOURNAMENT_ID: ")
    select_sql = """
    SELECT t.StartDate
    FROM Tournament t
    JOIN TeamTournament tt ON t.TournamentID = tt.TournamentID
    WHERE tt.TeamID = :team_id AND tt.TournamentID = :tournament_id
    """
    delete_sql = """
    DELETE FROM Player
    WHERE PlayerID = :player_id AND TeamID = :team_id
    """

    with engine.begin() as conn:
        result = conn.execute(
            text(select_sql),
            {"team_id": team_id, "tournament_id": tournament_id},
        )
        row = result.fetchone()

        if not row:
            print("The team is not registered for that tournament.")
            return

        start_date = row[0]
        if isinstance(start_date, datetime):
            start_date = start_date.date()

        if date.today() >= start_date:
            print("Tournament has started.")
            return

        res = conn.execute(
            text(delete_sql),
            {"player_id": player_id, "team_id": team_id},
        )


    print("Player removed!")


def team():
    while True:
        print("User Team, Please select 1 option: ")
        print("1. View players")
        print("2. View tournament")
        print("3. View matches")
        print("4. View performance history")
        print("5. Roster Count")
        print("6. Register team for tournament")
        print("7. Add players to roster")
        print("8. Remove player from roster")
        print("0. Exit")
        print("===================================")

        choice = input("Your option: ")

        if choice == "1":
            players_of_team()
            break
        elif choice == "2":
            tournaments_of_team()
            break
        elif choice == "3":
            matches_of_team()
            break
        elif choice == "4":
            performance_history()
            break
        elif choice == "5":
            roster_count()
            break
        elif choice == "6":
            register_team_for_tournament()
            break
        elif choice == "7":
            add_player_to_roster()
            break
        elif choice == "8":
            remove_player_from_roster()
            break

        elif choice == "0":
            print("Exiting Organizer Menu...");
            break
        else:
            print("Again.")


team()

User Team, Please select 1 option:
1. View players
2. View tournament
3. View matches
4. View performance history
5. Roster Count
6. Register team for tournament
7. Add players to roster
8. Remove player from roster
0. Exit
===================================

Your option:  4
TEAM_ID:  2

Team: Tigers; Wins 1 times; Losses 1 times.

SPECTATOR

In [29]:
# Spectators can view match results and upcoming matches

def match_results():
    query = """
    SELECT
        T.Name,
        m.MatchDate,
        t1.TeamName AS Team1,
        t2.TeamName AS Team2,
        m.Team1Score,
        m.Team2Score,
        w.TeamName AS Winner
    FROM `Match` m
    JOIN Tournament T ON m.TournamentID =  T.TournamentID
    JOIN Team t1 ON t1.TeamID = m.Team1ID
    JOIN Team t2 ON t2.TeamID = m.Team2ID
    LEFT JOIN Team w ON w.TeamID = m.WinnerTeamID
    WHERE m.Team1Score IS NOT NULL
      AND m.Team2Score IS NOT NULL
    ORDER BY m.MatchDate DESC;
    """

    with engine.begin() as conn:
        result = conn.execute(text(query))
        rows = result.fetchall()
    print("======MATCH RESULTS======")

    for r in rows:
        print(
            f" {r[0]} | "
            f"{r[1]} {r[3]} - {r[2]} {r[4]} | "
        )

def upcoming_matches():
    query = """
    SELECT
        m.MatchDate,
        t1.TeamName,
        t2.TeamName,
        v.VenueName
    FROM `Match` m
    JOIN Team t1 ON t1.TeamID = m.Team1ID
    JOIN Team t2 ON t2.TeamID = m.Team2ID
    JOIN Venue v ON v.VenueID = m.VenueID
    WHERE m.MatchDate > CURRENT_DATE
    ORDER BY m.MatchDate;
    """
    with engine.begin() as conn:
        result = conn.execute(text(query))
        rows = result.fetchall()
    print("======UPCOMING MATCHES======")
    if not rows:
        print('There are no upcoming matches!')
    for r in rows:
        print(r)

def spectator():
    while True:
        print("User Spectator, Please select 1 option: ")
        print("1. View match results")
        print("2. View upcoming matches")
        print("0. Exit")

       

        choice = input("Your option: ")

        if choice == "1":
            match_results()
            break
        elif choice == "2":
            upcoming_matches()
            break
        elif choice == "0":
            print("Exiting Organizer Menu...");
            break
        else:
            print("Again.")


spectator()

User Spectator, Please select 1 option:
1. View match results
2. View upcoming matches
0. Exit

Your option:  1

======MATCH RESULTS======
 Table Tennis Classic 2025 | 2025-11-02 11:00:00 Sharks - Panthers 11 |
 Badminton Open 2025 | 2025-10-06 09:00:00 Panthers - Wolves 21 |
 Soccer League Fall 2025 | 2025-10-02 16:00:00 Wolves - Eagles 2 |
 Inter-College Volleyball 2025 | 2025-09-16 14:00:00 Eagles - Tigers 3 |
 Autumn Basketball Cup 2025 | 2025-09-02 10:00:00 Tigers - Falcons 78 |